<html>
    <head>
        <meta charset="utf-8">
        <title>Search Form</title>
    </head>
    <body>

        <form action="/term_count" method="get">
            <label for="search-term">Please enter the search term:</label>
            <input id="search-term" name="search_term">

            <br></br>

            <label for="search-text">Please enter the text which you wish to search:</label>
            <input id="search-text" name="search_text">

            <button type="submit">Submit</button>
        </form>

    </body>
</html>
